<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Events</title>
</head>
<body>
<div th:replace="fragments :: navigator"/>

<h1>Event List</h1>

<div class="row rowheader">
    <div class="col-3">Event Name</div>
    <div class="col-3">Details</div>

<!--    <div class="col-2">Available seats</div> -->
</div>
<div class="row rowelement" th:each="event:${allEvents}">
    <div class="col-3" th:text="${event.name}"></div>
    <a class="col-3" th:href="@{/esa/event/{name} (name=${event.name})}">details</a>
<!--    <a class="col-2" th:href="@{/esa/event/assign/{name} (name=${event.name})}">Assign</a>

    <div class="col-2" th:text="${event.date}"></div>
     <div class="col-2" th:text="${event.startTime}"></div>
     <div class="col-2" th:text="${event.endTime}"></div>
     <div class="col-2" th:text="${event.description}"></div>
     <a class="col-2" th:href="@{/esa/event/assign/{name} (name=${event.name})}">Assign</a>
              <button type="submit">Assign</button> -->

   </div>

   </body>
   </html>