<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <th:block th:replace="fragments ::styles"/>
</head>
<body>
<div th:replace="fragments :: navigator"/>
<h1>Approval</h1>


<form method="post" th:object="${approvalForm}"
      th:action="@{/esa/event/assign/approval/t-f:code={code}">
    <label>Approve:</label>
    <input type="checkbox" th:field="*{approve}"/>
    <input type="submit" value="Submit">
</form>

</body>
</html>