<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <th:block th:replace="fragments ::styles"/>
</head>
<body>
<div th:replace="fragments :: navigator"/>
<h1>Users</h1>
<div th:each="user : ${users}">
    <p th:text="'Email: ' + ${user.getEmail()}"></p>
    <p th:text="'Email: ' + ${user.getStatus()}"></p>
</div>

<div>
    <form th:action="@{/esa/users/create}" method="post" th:object="${userForm}">
        <label for="email">Email: </label>
        <input id="email" type="text" th:field="*{login}">
<!--        <p th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')}"></p>-->

        <label for="password">Password: </label>
        <input id="password" type="password" th:field="*{password}">

        <label for="confirmPassword">Confirm Password: </label>
        <input id="confirmPassword" type="password" th:field="*{confirmPassword}">

        <label for="nick">Nick: </label>
        <input id="nick" type="text" th:field="*{nick}">

        <button type="submit">CREATE USER</button>
    </form>
</div>
</body>
</html>